node_modules/

db.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
media/
staticfiles/
static/

.env
.env.local
.env.development
.env.production
.venv/
venv/
.vscode
.bolt
.idea
.vite/
.cache/
.DS_Store

dist/
build/

coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*